*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    
}
*:focus {
    outline: none;
}

/* navbar */
.navbar{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.logo{
    width: 100px;
    height: 100px;
}
.logo >img{
    width: 100px;
    height: 100px;
}

.navbar-user-section{
    display: flex;
    width: 260px;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}

.navbar-user-section :hover{
    
    background-color: #eee;
    cursor: pointer;
}

.help{
    padding: 10px;
    width: 100px;
    border: 1px solid red;
    border-radius: 10px;
}
.user{
    padding: 10px;
    width: 150px;
    border: 1px solid red;
    border-radius: 10px;
}
.user> ul{
    position: absolute;
    border: 1px solid red;
    list-style: none;
    width: 140px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px 0px;
    
}

.user li :hover{
    background-color: #767373;
    cursor: pointer;
}
.user li a{
    text-decoration: none;
    color: rgb(84, 82, 82);
    display: block;
    font-size: 15px;
    padding: 5px;
}
/* end of navbar */
i{
    padding: 10px 10px 10px 0px;
}
.search-outer-box{
    width: 240px;
    margin:auto;
}
.search-accordian-tab{
    background-color: #f3800c;
    width: 300px;
    height: 60px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
}
input[type="radio"]{
    display: none;
}


.symbol-position{
    position: absolute;
    left:250px;
}

.search-accordian-content{
    width: 300px;
    display: block;
}
.hide{
    display:none ;
}
form>div{
    height: 60px;
    border: 1px solid rgb(66, 65, 65);
    position: relative;
    
}

.date-of-travel{
    display: flex;
}
.swap-city{
    position: absolute;
    left: 180px;
    top: 40px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #15252D;
}
.connecting-line{
    position: absolute;
    left: 14px;
    top: 42px;
    border-left: 2px dashed #afafaf;
    height: 48px;
}
.search-bus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn{
    background-color: #15252D;
    color: white;
    width: 150px;
    height: 40px;
}


.alignment{
    width: 280px;
    height: 30px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 70px 1fr 30px;
    
}
.alignment>*{
    display: flex;
    align-items: center;
    
}
input,select{
    border: none;
}
#input-alignment {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled-events{
    background-color: #fbf9f7;
    opacity: 0.1;
    pointer-events: none;
    
}
/* login */
.login{
    z-index: 5;
    width: 500px;
    height: 350px;
    display: flex;
    border: 2px solid green;
    position: absolute;
    top: 200px;
    left: 400px;
    background-color: white;
    
}
.login-offer{
    width: 250px;
    height: 100%;
    background-color: #f3800c;
}
.login-here{
    width: 350px;
    height: 100%;
    position:relative;

}
.login-here >div{
    width: 250px;
    
    padding: 10px 10px 10px 20px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;

}
#mobile-no{
    padding: 10px;
}
.login-btn{
    background-color: #f3800c;
}
.login-btn button{
    background-color: transparent;
    color: white;
    border: none;
}
.mobile-no{
    border: 1px solid gray;
}
.login-mail{
    width: 180px;
    display: flex;
    border: 2px solid rgb(43, 43, 211);
    border-radius: 5px;
    padding:  5px 5px 5px 5px;
    justify-content: space-between;
    background-color:rgb(43, 43, 211) ;
    color: white;
    align-items: center;
    
}
.login-mail >img{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
/* end of login */